# Test Suites can also be defined in testsuites.py.
# Use this file for simple test suites.
# Suite names are in brackets []
# Test names must match tests found in files in the tests directory.

[connect]
Interact

[basic]
RootFSBootTest
OpenwrtVersion
OpkgList
KernelModules
MemoryUse
InterfacesShow
LanDevPingRouter
RouterPingWanDev
LanDevPingWanDev
Webserver_Download
UciShowWireless
WiFiOnOffCycle5
RestartNetwork
iPerfBiDirTest
Set_IPv6_Addresses
LanDevPing6Router
LanDevPing6WanDev
iPerfBiDirTestIPV6

[daily]
@basic
Uname
UciShow
WiFiMemUse
ConnectionRate
PerfPerPktTest
ProcVmstat

[flash]
RootFSBootTest

[interact]
RootFSBootTest
Interact

[long]
RootFSBootTest
OpenwrtVersion
OpkgList
KernelModules
MemoryUse
InterfacesShow
LanDevPingRouter
RouterPingWanDev
LanDevPingWanDev
FirewallOFF
FirewallON
NetperfUdpTest
SshWanDetect
UciShow
UCIPersists
UciShowWireless
WiFiOnOffCycle5
WiFiOnOffCycle20
TurnOnWifi
WlanSetSSID
WlanSetSSID_WPA2PSK
IGMPv3_Running
IGMPv3_Config
IGMPv3_StopStart
iPerfNonRoutedTest
iPerfReverseTest
iPerfBiDirTest
iPerfTest
iPerfNonRoutedTest
iPerfReverseTest
iPerfBiDirTest
iPerfUDPReverseTest
iPerfUDPBiDirTest
BridgedMode


